<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Modifier votre compte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>

<ion-footer>
  <div class="p-2">
    <button class="btn btn-primary rounded-circle">
      <ion-icon name="checkmark-sharp" size="large"></ion-icon>
    </button>
    <button class="btn btn-danger rounded-circle" (click)="dismiss()">
      <ion-icon name="close-sharp" size="large"></ion-icon>
    </button>
  </div>
</ion-footer>