<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-table-messages [messages]="messages"></app-table-messages>
</ion-content>
<ion-footer class="row">
    <ion-textarea style="width: 85%"></ion-textarea>
    <ion-button
            style="width: 15%; align-self: center"
            class="ion-float-right">
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
</ion-footer>
