<ion-header>
  <ion-toolbar>
    <ion-title>
        Conversation générale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <app-table-messages [currentUser]="currentUser" [messages]="messages"></app-table-messages>
</ion-content>
<ion-footer class="row form-group" style="margin: 0px">
    <ion-textarea [formControl]="textControl" style="width: 85%" [(ngModel)]="text"></ion-textarea>
    <div class="mr-2 d-flex flex-column">
        <ion-button
                (click)="takePicture()"
                class="ion-float-right">
            <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
        <ion-button
                [disabled]="textControl.invalid"
                (click)="send()"
                class="ion-float-right">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
    </div>
</ion-footer>
