ion-card-header {
    display: flex;
    justify-content: space-evenly;
    align-self: center;

    ion-card-title {
        margin: auto 0;
    }

    ion-img {
        height: auto;
        width: 25vw;
    }
}

ion-card-content {
    display: flex;
    justify-content: center;

    button {
        margin: 1rem;
    }
}
